# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
# Mac OS X
.DS_Store

# IDE
.idea
*.out

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*_linux

# Test binary
*.test

# lib & package
.glide/